{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gazer Web App</title>
    <link rel="stylesheet" href="{% static 'gazer/css/bootstrap.min.css' %}">
    <script crossorigin src="{% static 'gazer/js/bootstrap.bundle.js' %}"></script>
    <script crossorigin src="{% static 'gazer/js/bootstrap.js' %}"></script>
    <script crossorigin src="{% static 'gazer/js/react.development.js' %}"></script>
    <script crossorigin src="{% static 'gazer/js/react-dom.development.js' %}"></script>
    <script crossorigin src="{% static 'gazer/js/babel.min.js' %}"></script>
</head>
<body>

    <div class="container" id="root"></div>

    <script type="text/babel" src="{% static 'gazer/js/main.js' %}"></script>
</body>
</html>